{
  "linkset": [
    {
      "anchor": "https://{{ shared_hostname }}/oai",
      "service-doc": [
        {
          "href": "https://www.openarchives.org/OAI/openarchivesprotocol.html",
          "type": "text/html",
          "title": "Open Archives Initiative - Protocol for Metadata Harvesting - v.2.0"
        }
      ],
      "service-meta": [
        {
          "href": "https://{{ shared_hostname }}/oai?verb=Identify",
          "type": "application/xml"
        }
      ]
    },
    {
      "anchor": "https://{{ shared_hostname }}/sitemap/{{ sitemap_file }}",
      "service-doc": [
        {
          "href": "https://www.sitemaps.org/protocol.html", 
          "type": "text/html",
          "title": "sitemaps.org - Protocol"
        }
      ]
    },
    {
      "anchor": "https://{{ shared_hostname }}/openapi",
      "service-desc": [
        {
          "href": "https://{{ shared_hostname }}/openapi",
          "type": "application/yaml"
        }
      ],
      "service-doc": [
        {
          "href": "https://spec.openapis.org/oas/v3.0.3",
          "type": "text/html",
          "title": "OpenAPI Specification v3.0.3"
        },
      ]
    },
    {
      "anchor": "https://{{ shared_hostname }}/robots.txt",
      "service-doc": [
        {
          "href": "https://datatracker.ietf.org/doc/rfc9309/",
          "type": "text/html",
          "title": "RFC 9309 - Robots Exclusion Protocol"
        }
      ]
    },
    {
      "anchor": "https://dans.knaw.nl/en/file-formats/",
      "service-doc": [
        {
          "href": "https://dans.knaw.nl/en/file-formats/",
          "type": "text/html",
          "title": "File Formats"
        }
      ]
    },
    {
      "anchor": "https://{{ shared_hostname }}/api/licenses",
      "service-desc": [
        {
          "href": "https://{{ shared_hostname }}/openapi",
          "type": "application/yaml"
        }
      ],
      "service-doc": [
        {
          "href": "https://spec.openapis.org/oas/v3.0.3",
          "type": "text/html",
          "title": "OpenAPI Specification v3.0.3"
        },
      ]
    }
  ]
}